# ignore extensionless files (executables, here)
# ignore everything, then un-ignore dirs, then un-ignore files with at least one dot
*
!*/
!*.*

# ignore ghdl work/output files
e~*
work-*
*.o

# ignore waveform outputs
*.ghw
*.gtkw

# ignore vim
*.swp

# re-enable Makefile
!Makefile
